.App {
  text-align: center;
  height: 97.5vh;
  width: 97.5vw;
  margin: 2.5px auto;
  border: 1px red solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.landing-container {
  height: 200px;
  margin: 10% auto;
}

.login-container,
.register-container {
  width: 250px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid blue;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input,
.register-input {
  width: 200px;
}

.login-button,
.register-button {
  width: 207.5px;
}
